<div class="widget latest-posts">
    <header>
      <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts"><a [routerLink]="['/post', posts[0]._id]">
        <div class="item d-flex align-items-center">
          <div class="image"><img src="{{posts[0].featuredImage}}" alt="..." class="img-fluid"></div>
          <div class="title"><strong>{{posts[0].title}}</strong>
            <div class="d-flex align-items-center">
              <div class="views"><i class="icon-eye"></i> {{posts[0].views}}</div>
              <div class="comments"><i class="icon-comment"></i>{{posts[0].comments.length}}</div>
            </div>
          </div>
        </div></a><a [routerLink]="['/post', posts[1]._id]">
        <div class="item d-flex align-items-center">
          <div class="image"><img src="{{posts[1].featuredImage}}" alt="..." class="img-fluid"></div>
          <div class="title"><strong>{{posts[1].title}}</strong>
            <div class="d-flex align-items-center">
              <div class="views"><i class="icon-eye"></i> {{posts[1].views}}</div>
              <div class="comments"><i class="icon-comment"></i>{{posts[1].comments.length}}</div>
            </div>
          </div>
        </div></a><a [routerLink]="['/post', posts[2]._id]">
        <div class="item d-flex align-items-center">
          <div class="image"><img src="{{posts[2].featuredImage}}" alt="..." class="img-fluid"></div>
          <div class="title"><strong>{{posts[2].title}}</strong>
            <div class="d-flex align-items-center">
              <div class="views"><i class="icon-eye"></i> {{posts[2].views}}</div>
              <div class="comments"><i class="icon-comment"></i>{{posts[2].comments.length}}</div>
            </div>
          </div>
        </div></a>
    </div>
</div>