<div class="container">
    <div class="row">
      <!-- Latest Posts -->
      <main class="post blog-post col-lg-8"> 
        <div class="container">
          <app-post-data></app-post-data>
        </div>
      </main>
      <aside class="col-lg-4">
        <!-- Widget [Search Bar Widget]-->
        <app-widget-search></app-widget-search>
        <!-- Widget [Latest Posts Widget] -->
        <app-widget-latest-posts></app-widget-latest-posts>
        <!-- Widget [Categories Widget]-->
        <app-widget-categories></app-widget-categories>
        <!-- Widget [Tags Cloud Widget]-->
        <app-widget-tags></app-widget-tags>
    </aside>
    </div>
  </div>
  